{% extends 'base.html.twig' %}

{% block title %}ReportUser{% endblock %}

{% block body %}
    <h1>ReportUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ report_user.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ report_user.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ report_user.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ report_user.created ? report_user.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('report_user_index') }}">back to list</a>

    <a href="{{ path('report_user_edit', {'id': report_user.id}) }}">edit</a>

    {{ include('report/_delete_form.html.twig') }}
{% endblock %}
