<div id="comment-{{ comment.id }}" class="row">
    <div class="col-1 pr-0">
        <div class="bg-white d-flex h-100 border border-right-0 border-top-0 py-3 justify-content-center">
            <a href="{{ path('user_show', {'username': comment.author.username}) }}">
                <img class="comment-user-profile-picture " src="{{ asset('uploads/user/' ~ comment.author.profilePicture ) }}" alt="..."/>
            </a>
        </div>
    </div>
    <div class="col-11 pl-0 ">
        <div class="bg-white h-100 border border-left-0  border-top-0 py-3">
            <div class="d-flex flex-row my-auto justify-content-between">
                <a href="{{ path('user_show', {'username': comment.author.username}) }}" class="mr-3"> {{ comment.author.username}} </a>
                <div class="d-inline-flex pr-3">
                    <div class="comment-date my-auto mr-1">
                        <span> {{ comment.published|date("d/m/Y | H:i") }} </span>
                    </div>
                    <div class="dropdown dropdown-comment">
                        <button class="btn btn-link" type="button" id="dropdownComment-{{ comment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="dropdownComment-{{ comment.id }}">
                            {% if app.user and comment.author.id!=app.user.id %}
                                <button class="dropdown-item pl-2 reportCommentButton" id="commentReportButton-{{ comment.id }}" type="button" data-toggle="modal" data-target="#reportCommentModal">
                                    <span class="pr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                    </span>
                                    <span>
                                        Signaler
                                    </span>
                                </button>
                            {% endif %}
                            {% if app.user and (comment.author.id==app.user.id or app.user.isAdmin())%}
                                {{ include('comment/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        <div id="comment-content-{{ comment.id }}" class="pt-2">
            <p> {{ comment.content }} </p>
        </div>
        </div>
    </div>

    <!--
    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
    <button class="reportCommentButton" id="commentReportButton-{{ comment.id }}">report</button>
    {{ include('comment/_delete_form.html.twig') }}
    -->
</div>
