{% extends 'admin/admin.html.twig' %}

{% block table %}
        <table class="table table-sm table-hover mb-0">
            <thead>
            <tr>
                <th scope="col" class="border-top-0 text-uppercase font-size-08">Créé le</th>
                <th scope="col" class="border-top-0 text-uppercase font-size-08">Titre</th>
                <th scope="col" class="border-top-0 text-uppercase font-size-08 text-right">Commentaires</th>
                <th scope="col" class="border-top-0 text-uppercase font-size-08 text-right">Signalements</th>
                <th scope="col" class="border-top-0 text-uppercase font-size-08"></th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr class="table-hover-text-primary">
                <td onclick="location.href = '{{ path('article_show', {'urlAlias': article.urlAlias}) }}'" class="cursor-pointer"> {{ article.published|date("d/m/y | H:i") }}</td>
                <td onclick="location.href = '{{ path('article_show', {'urlAlias': article.urlAlias}) }}'" class="cursor-pointer" data-toggle="tooltip" data-placement="top" data-html="true" title="<div><span class='font-size-08'> {{ article.title }} </span><div>"> {{ article.title|slice(0,50) }}{% if article.title|length > 50 %}...{% endif %}</td>
                <td onclick="location.href = '{{ path('article_show', {'urlAlias': article.urlAlias}) }}'" class="text-right cursor-pointer"> {{ article.comments|length }}</td>
                <td onclick="location.href = '{{ path('article_show', {'urlAlias': article.urlAlias}) }}'" class="text-right cursor-pointer">
                    <span {% if article.reportedBy|length > 0 %} class="badge badge-pill badge-danger" {% endif %}>
                        {{ article.reportedBy|length }}
                    </span>
                </td>
                <td> {{ include('article/_delete_icon_trash.html.twig', {'id': article.id}) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
