{% extends 'base.html.twig' %}

{% block title %}ReportComment index{% endblock %}

{% block body %}
    <h1>ReportComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Comment</th>
                <th>Article title</th>
                <th>Reporter</th>
                <th>Description</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report_comment in report_comments %}
            <tr>
                <td>{{ report_comment.id }}</td>
                <td>{{ report_comment.category }}</td>
                <td>{{ report_comment.target.content }}</td>
                <td>{{ report_comment.target.article.title }}</td>
                <td>{{ report_comment.author.username }}</td>
                <td>{{ report_comment.description }}</td>
                <td>{{ report_comment.created ? report_comment.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('report_comment_show', {'id': report_comment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
