{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="bg-primary">
        <div class="container">
            <div class="d-flex justify-content-between py-3">
                <h1 class="mb-0 text-white"> Articles </h1>
                {% if (app.user) %}
                    <a class="btn-pill btn-outline-white my-auto" href="{{ path('article_new') }}">
                        Nouvel article
                    </a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="bg-white pt-3">
        <div class="container px-0">
                <div>
            {{ include('article/nav.html.twig') }}
                    {% if categories is defined %}
                        {{ include('article/categories.html.twig') }}
                    {% endif %}
            <div class="card-group bg-white">
            {% for article in articles %}
                {{ include('article/preview.html.twig', {'article': article}) }}
            {% else %}
                <div class="alert alert-dark w-100 mt-3">
                    {% if active == 'follows' %}
                        Aucune des personnes que vous suivez n'a publié d'articles.
                    {% elseif active == 'partners' %}
                        Erreur lors de la récupération des articles.
                    {% else %}
                        Aucun article n'est disponible
                    {% endif %}
                </div>
            {% endfor %}
            </div>
                </div>
            {% if nbArticles > 12 %}
                {{ include('article/pagination.html.twig') }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
