{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
    <div>
        <h3>Report Article</h3>
        {{ include('report/_form.html.twig') }}
    </div>

    <div>
        <a href="{{ path('user_show', {'username': article.author.username}) }}">{{ article.author.username }}</a>
        <div>{{ article.published|date("d/m/Y") }} à {{ article.published|date("H:i") }}</div>
    </div>
    <img src="{{ asset('uploads/article/' ~ article.thumbnail ) }}" alt="..."/>
    <p class="my-2"> {{ article.content }} </p>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
    {{ include('article/_delete_form.html.twig') }}
    <div>
        <h2> Commentaires </h2>
        {{ include('comment/_form.html.twig', {'button_label': 'Validate'}) }}
        {% for comment in article.comments %}
            {{ include('comment/show.html.twig', {'comment': comment}) }}
        {% endfor %}
    </div>

    {{ include('report/comment/_form.html.twig') }}


{% endblock %}
