{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container my-3">


    <div class="row">
        <div class="col-9">
            <div class="bg-white text-justify article-content border-top-0">
                {% if article.thumbnail is not null%}
                    <img class="article-show-thumbnail" src="{{ asset('uploads/article/' ~ article.thumbnail ) }}" alt="..."/>
                {% else %}
                    <div class="card-img-top article-show-default-thumbnail border d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                            <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                        </svg>
                    </div>
                {% endif %}
                <h3 class="py-3 font-weight-bold"> {{ article.title }} </h3>
                <div class="pb-3">
                    {{ article.content|raw }}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="shadow">
            <div class="text-center bg-white border p-3">
                {% if article.category is not null %}<a href="#" class="text-decoration-none"> {{ article.category.name}}  </a> {% endif %}
                    <div> {{ article.published|date("d/m/Y | H:i") }} </div>
            </div>
            {% if article.author is not null %}
                <div class="article-show-user bg-white">
                    {{ include('user/preview.html.twig', {'user': article.author}) }}
                    {% if app.user and app.user.id != article.author.id %}
                    <div class="text-center pb-3 border-left border-right">
                        {{ include('user/follow_button.html.twig', {'user': article.author}) }}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if app.user and (article.author is not null or article.reportedBy is not null)%}
            <div class="text-center py-3 border bg-white">
                {% if article.author is not null and article.author.id == app.user.id %}
                <a class="btn-pill btn-outline-primary" href="{{ path('article_edit', {'id': article.id}) }}">
                    Editer l'article
                </a>
                {% elseif article.reportedBy is defined %}
                    <button type="button" class="btn-pill btn-outline-danger" data-toggle="modal" data-target="#reportArticleModal"> Signaler l'article</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        </div>
    </div>

    {% if article.comments is not null %}
        <div class="row mt-3">
            <div class="col-12">
                <h3 class="pb-3 pt-4 mb-0 font-weight-bold border-top">
                    <div class="pl-2 border-left-width-4 border-primary">
                        Commentaires   <span class="font-weight-normal"> ({{ article.comments|length }}) </span>
                    </div>
                </h3>
            </div>
        </div>

        {{ include('comment/_form.html.twig') }}

        {% for comment in article.comments %}
            {{ include('comment/show.html.twig', {'comment': comment}) }}
        {% endfor %}
        {% if article.comments|length > 0 %}
            {{ include('report/comment/_form.html.twig') }}
        {% endif %}
    {% endif %}

    {% if article.reportedBy is not null %}
        <div>
            {{ include('report/_form.html.twig', {'modalTitle' : 'Signaler l\'atricle', 'modalId': 'reportArticleModal'}) }}
        </div>
    {% endif %}
</div>
{% endblock %}