{{ form_start(formUser) }}
    <div class="form-group">
        {{ form_label(formUser.username) }}
        {% if (errorsProperties is defined and 'username' in errorsProperties) or (usernameExists is defined and usernameExists) %}
            {{ form_widget(formUser.username, {'attr': {'class': 'form-control is-invalid', 'aria-describedby': 'validation-username'}}) }}
            <div id="validation-username" class="invalid-feedback">
                {% if usernameExists %}
                    <div> Ce pseudo est déjà pris par un autre utilisateur. </div>
                {% endif %}
                {{ form_errors(formUser.username) }}
            </div>
        {% else %}
            {{ form_widget(formUser.username, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(formUser.email) }}
        {% if (errorsProperties is defined and 'email' in errorsProperties) or (emailExists is defined and emailExists) %}
            {{ form_widget(formUser.email, {'attr': {'class': 'form-control is-invalid', 'aria-describedby': 'validation-email'}}) }}
            <div id="validation-email" class="invalid-feedback">
                {% if emailExists %}
                    <div> Cette adresse mail est déjà prise par un autre utilisateur. </div>
                {% endif %}
                {{ form_errors(formUser.email) }}
            </div>
        {% else %}
            {{ form_widget(formUser.email, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
    </div>
    {% if formUser.password is defined %}
        <div class="form-group">
            {{ form_label(formUser.password.first) }}
            {% if formUser.password.first.vars.errors|length %}
                {{ form_widget(formUser.password.first, {'attr': {'class': 'form-control is-invalid', 'aria-describedby': 'validation-password'}}) }}
                <div id="validation-password" class="invalid-feedback">
                    {{ form_errors(formUser.password.first) }}
                </div>
            {% else %}
                {{ form_widget(formUser.password.first, {'attr': {'class': 'form-control'}}) }}
            {% endif %}
            {{ form_errors(formUser.password) }}
        </div>
        <div class="form-group">
            {{ form_label(formUser.password.second) }}
            {{ form_widget(formUser.password.second, {'attr': {'class': 'form-control'}}) }}
        </div>
    {% endif %}

    {% if action == 'update' %}
        <div class="row">
            <div class="col form-group">
                {{ form_label(formUser.profile_picture) }}
                {{ form_widget(formUser.profile_picture, {'attr': {'class': 'form-control border-0 px-0'}}) }}
            </div>
            <div class="col form-group">
                {{ form_label(formUser.cover_picture) }}
                {{ form_widget(formUser.cover_picture, {'attr': {'class': 'form-control border-0 px-0'}}) }}
            </div>
        </div>
    {% endif %}

    {% if action == 'create' %}
        <div class="text-center">
            <button class="mt-2 px-4 btn-pill btn-primary">{{ button_label|default('Valider') }}</button>
        </div>
    {% elseif action == 'update' %}
        <div class="d-flex justify-content-end mt-4">
                <a href="{{ path("user_show", {'username': app.user.username}) }}" class="btn-pill btn-outline-grey mr-2"> Annuler</a>
                <button class="btn-pill btn-primary" type="submit">{{ button_label|default('Valider') }}</button>
        </div>
    {% endif %}

    {% if action == 'create' %}
    <div class="text-center mt-4">
        Vous avez déjà un compte ? <a href="{{ path('app_login')}}"> Connectez-vous </a>
    </div>
    {% endif %}
{{ form_end(formUser) }}