{% if (reportForm is defined) and (app.user is not null)%}
    {{ form_start(reportForm) }}
        <div class="modal fade" id="{{ modalId }}" tabindex="-1" aria-labelledby="{{ modalId }}-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title font-weight-bold text-secondary" id="{{ modalId }}-label">{{ modalTitle }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form_label(reportForm.category) }}
                            {{ form_widget(reportForm.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(reportForm.description) }}
                            {{ form_widget(reportForm.description, {'attr': {'class': 'form-control', 'rows':4}}) }}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-pill btn-outline-grey" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn-pill btn-danger">{{ button_label|default('Signaler') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(reportForm) }}
{% endif %}